* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background: url("texture.png") fixed,
    linear-gradient(to bottom left, #2196f3, #4caf50) fixed;
  background-size: cover;
  color: #424242;
}

.form {
  width: 500px;
  margin: 15px;
  padding: 15px;
  background: #fff;
  line-height: 1.618em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .2);
}

#input {
  display: block;
}

#convert {
  display: block;
  margin-top: 5px;
}

#output {
  float: left;
  width: 100%;
  height: 200px;
  margin: 15px 0 0;
  padding: 5px;
  overflow-y: scroll;
  background: #002B36;
  color: #fff;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: .75rem;
  line-height: 1rem;
  word-wrap: break-word;
}

#output::before {
  content: "Output :\A\A";
}

#output hr {
  margin: 1.5em 0;
}

@media screen and (min-width: 550px) {
  #input {
    float: left;
  }

  #convert {
    float: right;
    margin: 0;
  }
}